* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 5vh 5vw;
  position: relative;
  width: 90vw;
  height: 90vh;
}

.ball {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: move 10s linear infinite;
}

@keyframes move {
  0%,
  100% {
    background-color: red;
    left: 0;
    top: 0;
  }

  25% {
    background-color: yellow;
    left: calc(100% - 50px);
    top: 0;
  }

  50% {
    background-color: green;
    left: calc(100% - 50px);
    top: calc(100% - 50px);
  }

  75% {
    background-color: blue;
    left: 0;
    top: calc(100% - 50px);
  }
}

.ball:hover {
  animation-play-state: paused;
}
