* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.container {
  background-color: #fff;
  padding: 5px;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

@keyframes shadow {
  0%,
  50%,
  100% {
    box-shadow: 0 0 50px 5px #fff;
  }

  25% {
    box-shadow: 10px 10px 50px 5px aqua, -10px -10px 50px 5px blue;
  }

  75% {
    box-shadow: 10px 10px 50px 5px blue, -10px -10px 50px 5px aqua;
  }
}

.container:hover {
  animation: shadow 10s ease-in-out infinite;
}
